// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptions,
  type NormalizedClientOptions,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace PlayersClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class PlayersClient {
  protected readonly _options: NormalizedClientOptions<PlayersClient.Options>;

  constructor(options: PlayersClient.Options) {
    this._options = normalizeClientOptions(options);
  }

  /**
   * @param {LfsplanetApi.CompareRequest} request
   * @param {PlayersClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.players.compare({
   *         left: "left",
   *         right: "right",
   *         era: "era"
   *     })
   */
  public compare(
    request: LfsplanetApi.CompareRequest,
    requestOptions?: PlayersClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.PlayerComparisonResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__compare(request, requestOptions),
    );
  }

  private async __compare(
    request: LfsplanetApi.CompareRequest,
    requestOptions?: PlayersClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.PlayerComparisonResponse>> {
    const { left, right, era, track, vehicle } = request;
    const _queryParams: Record<string, unknown> = {
      left,
      right,
      era,
      track,
      vehicle,
    };
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/compare",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.PlayerComparisonResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/compare",
    );
  }

  /**
   * @param {LfsplanetApi.SearchRequest} request
   * @param {PlayersClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @example
   *     await client.players.search({
   *         q: "q"
   *     })
   */
  public search(
    request: LfsplanetApi.SearchRequest,
    requestOptions?: PlayersClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.ListResponsePlayerSummary> {
    return core.HttpResponsePromise.fromPromise(
      this.__search(request, requestOptions),
    );
  }

  private async __search(
    request: LfsplanetApi.SearchRequest,
    requestOptions?: PlayersClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.ListResponsePlayerSummary>> {
    const { q } = request;
    const _queryParams: Record<string, unknown> = {
      q,
    };
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/players",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.ListResponsePlayerSummary,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      throw new errors.LfsplanetApiError({
        statusCode: _response.error.statusCode,
        body: _response.error.body,
        rawResponse: _response.rawResponse,
      });
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/players",
    );
  }

  /**
   * @param {LfsplanetApi.GetPlayerRequest} request
   * @param {PlayersClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.players.getPlayer({
   *         lfs_username: "lfs_username"
   *     })
   */
  public getPlayer(
    request: LfsplanetApi.GetPlayerRequest,
    requestOptions?: PlayersClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.PlayerResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__getPlayer(request, requestOptions),
    );
  }

  private async __getPlayer(
    request: LfsplanetApi.GetPlayerRequest,
    requestOptions?: PlayersClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.PlayerResponse>> {
    const { lfs_username: lfsUsername } = request;
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/players/${core.url.encodePathParam(lfsUsername)}`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.PlayerResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/players/{lfs_username}",
    );
  }
}
