// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptions,
  type NormalizedClientOptions,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace RankingClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class RankingClient {
  protected readonly _options: NormalizedClientOptions<RankingClient.Options>;

  constructor(options: RankingClient.Options) {
    this._options = normalizeClientOptions(options);
  }

  /**
   * @param {LfsplanetApi.ListEraRankingsRequest} request
   * @param {RankingClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.ranking.listEraRankings({
   *         era: "era"
   *     })
   */
  public listEraRankings(
    request: LfsplanetApi.ListEraRankingsRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.ListResponseRankingSummary> {
    return core.HttpResponsePromise.fromPromise(
      this.__listEraRankings(request, requestOptions),
    );
  }

  private async __listEraRankings(
    request: LfsplanetApi.ListEraRankingsRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.ListResponseRankingSummary>> {
    const { era } = request;
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(era)}/rankings`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.ListResponseRankingSummary,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras/{era}/rankings",
    );
  }

  /**
   * @param {LfsplanetApi.GetEraRankingRequest} request
   * @param {RankingClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.ranking.getEraRanking({
   *         era: "era",
   *         ranking: "ranking"
   *     })
   */
  public getEraRanking(
    request: LfsplanetApi.GetEraRankingRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.RankingDetailResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__getEraRanking(request, requestOptions),
    );
  }

  private async __getEraRanking(
    request: LfsplanetApi.GetEraRankingRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.RankingDetailResponse>> {
    const { era, ranking } = request;
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(era)}/rankings/${core.url.encodePathParam(ranking)}`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.RankingDetailResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras/{era}/rankings/{ranking}",
    );
  }

  /**
   * @param {LfsplanetApi.NationsRequest} request
   * @param {RankingClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.NotFoundError}
   * @throws {@link LfsplanetApi.ConflictError}
   *
   * @example
   *     await client.ranking.nations({
   *         era: "era",
   *         ranking: "ranking"
   *     })
   */
  public nations(
    request: LfsplanetApi.NationsRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.RankingStandingsNationRankingEntryResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__nations(request, requestOptions),
    );
  }

  private async __nations(
    request: LfsplanetApi.NationsRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): Promise<
    core.WithRawResponse<LfsplanetApi.RankingStandingsNationRankingEntryResponse>
  > {
    const { era, ranking } = request;
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(era)}/rankings/${core.url.encodePathParam(ranking)}/nations`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.RankingStandingsNationRankingEntryResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 409:
          throw new LfsplanetApi.ConflictError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras/{era}/rankings/{ranking}/nations",
    );
  }

  /**
   * @param {LfsplanetApi.NationContributionsRequest} request
   * @param {RankingClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.NotFoundError}
   * @throws {@link LfsplanetApi.ConflictError}
   *
   * @example
   *     await client.ranking.nationContributions({
   *         era: "era",
   *         ranking: "ranking",
   *         country: "country"
   *     })
   */
  public nationContributions(
    request: LfsplanetApi.NationContributionsRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.ListResponseNationContributionResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__nationContributions(request, requestOptions),
    );
  }

  private async __nationContributions(
    request: LfsplanetApi.NationContributionsRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): Promise<
    core.WithRawResponse<LfsplanetApi.ListResponseNationContributionResponse>
  > {
    const { era, ranking, country } = request;
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(era)}/rankings/${core.url.encodePathParam(ranking)}/nations/${core.url.encodePathParam(country)}/contributors`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.ListResponseNationContributionResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 409:
          throw new LfsplanetApi.ConflictError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras/{era}/rankings/{ranking}/nations/{country}/contributors",
    );
  }

  /**
   * @param {LfsplanetApi.PlayersRequest} request
   * @param {RankingClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.NotFoundError}
   * @throws {@link LfsplanetApi.ConflictError}
   *
   * @example
   *     await client.ranking.players({
   *         era: "era",
   *         ranking: "ranking"
   *     })
   */
  public players(
    request: LfsplanetApi.PlayersRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.RankingStandingsPersonalRankingEntryResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__players(request, requestOptions),
    );
  }

  private async __players(
    request: LfsplanetApi.PlayersRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): Promise<
    core.WithRawResponse<LfsplanetApi.RankingStandingsPersonalRankingEntryResponse>
  > {
    const { era, ranking } = request;
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(era)}/rankings/${core.url.encodePathParam(ranking)}/players`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.RankingStandingsPersonalRankingEntryResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 409:
          throw new LfsplanetApi.ConflictError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras/{era}/rankings/{ranking}/players",
    );
  }

  /**
   * @param {LfsplanetApi.ListEraWorldRecordHoldersRequest} request
   * @param {RankingClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.ranking.listEraWorldRecordHolders({
   *         era: "era"
   *     })
   */
  public listEraWorldRecordHolders(
    request: LfsplanetApi.ListEraWorldRecordHoldersRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.PaginatedResponseWorldRecordHolderResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__listEraWorldRecordHolders(request, requestOptions),
    );
  }

  private async __listEraWorldRecordHolders(
    request: LfsplanetApi.ListEraWorldRecordHoldersRequest,
    requestOptions?: RankingClient.RequestOptions,
  ): Promise<
    core.WithRawResponse<LfsplanetApi.PaginatedResponseWorldRecordHolderResponse>
  > {
    const { era, page, per_page: perPage } = request;
    const _queryParams: Record<string, unknown> = {
      page,
      per_page: perPage,
    };
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(era)}/world-records`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.PaginatedResponseWorldRecordHolderResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras/{era}/world-records",
    );
  }
}
