// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptionsWithAuth,
  type NormalizedClientOptionsWithAuth,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace WebhooksClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class WebhooksClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<WebhooksClient.Options>;

  constructor(options: WebhooksClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.UnauthorizedError}
   *
   * @example
   *     await client.webhooks.listWebhooks()
   */
  public listWebhooks(
    requestOptions?: WebhooksClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.ListResponseWebhookResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__listWebhooks(requestOptions),
    );
  }

  private async __listWebhooks(
    requestOptions?: WebhooksClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.ListResponseWebhookResponse>> {
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/me/webhooks",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.ListResponseWebhookResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/me/webhooks",
    );
  }

  /**
   * @param {LfsplanetApi.CreateWebhookRequest} request
   * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.UnauthorizedError}
   * @throws {@link LfsplanetApi.ForbiddenError}
   * @throws {@link LfsplanetApi.ConflictError}
   *
   * @example
   *     await client.webhooks.createWebhook({
   *         "X-CSRF-Token": "X-CSRF-Token",
   *         event_kind: "hotlap_validated",
   *         format: "discord",
   *         name: "name",
   *         url: "url"
   *     })
   */
  public createWebhook(
    request: LfsplanetApi.CreateWebhookRequest,
    requestOptions?: WebhooksClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.WebhookResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__createWebhook(request, requestOptions),
    );
  }

  private async __createWebhook(
    request: LfsplanetApi.CreateWebhookRequest,
    requestOptions?: WebhooksClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.WebhookResponse>> {
    const { "X-CSRF-Token": csrfToken, ..._body } = request;
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({ "X-CSRF-Token": csrfToken }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/me/webhooks",
      ),
      method: "POST",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      requestType: "json",
      body: _body,
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.WebhookResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 403:
          throw new LfsplanetApi.ForbiddenError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 409:
          throw new LfsplanetApi.ConflictError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/api/v1/me/webhooks",
    );
  }

  /**
   * @param {LfsplanetApi.ListWebhookNotificationsRequest} request
   * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.UnauthorizedError}
   *
   * @example
   *     await client.webhooks.listWebhookNotifications()
   */
  public listWebhookNotifications(
    request: LfsplanetApi.ListWebhookNotificationsRequest = {},
    requestOptions?: WebhooksClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.PaginatedResponseWebhookNotificationResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__listWebhookNotifications(request, requestOptions),
    );
  }

  private async __listWebhookNotifications(
    request: LfsplanetApi.ListWebhookNotificationsRequest = {},
    requestOptions?: WebhooksClient.RequestOptions,
  ): Promise<
    core.WithRawResponse<LfsplanetApi.PaginatedResponseWebhookNotificationResponse>
  > {
    const { page, per_page: perPage } = request;
    const _queryParams: Record<string, unknown> = {
      page,
      per_page: perPage,
    };
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/me/webhooks/notifications",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.PaginatedResponseWebhookNotificationResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/me/webhooks/notifications",
    );
  }

  /**
   * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.UnauthorizedError}
   *
   * @example
   *     await client.webhooks.webhookOptions()
   */
  public webhookOptions(
    requestOptions?: WebhooksClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.WebhookOptionsResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__webhookOptions(requestOptions),
    );
  }

  private async __webhookOptions(
    requestOptions?: WebhooksClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.WebhookOptionsResponse>> {
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/me/webhooks/options",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.WebhookOptionsResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/me/webhooks/options",
    );
  }

  /**
   * @param {LfsplanetApi.DeleteWebhookRequest} request
   * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.UnauthorizedError}
   * @throws {@link LfsplanetApi.ForbiddenError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.webhooks.deleteWebhook({
   *         "X-CSRF-Token": "X-CSRF-Token",
   *         webhook: 1000000
   *     })
   */
  public deleteWebhook(
    request: LfsplanetApi.DeleteWebhookRequest,
    requestOptions?: WebhooksClient.RequestOptions,
  ): core.HttpResponsePromise<void> {
    return core.HttpResponsePromise.fromPromise(
      this.__deleteWebhook(request, requestOptions),
    );
  }

  private async __deleteWebhook(
    request: LfsplanetApi.DeleteWebhookRequest,
    requestOptions?: WebhooksClient.RequestOptions,
  ): Promise<core.WithRawResponse<void>> {
    const { webhook, "X-CSRF-Token": csrfToken } = request;
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({ "X-CSRF-Token": csrfToken }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/me/webhooks/${core.url.encodePathParam(webhook)}`,
      ),
      method: "DELETE",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return { data: undefined, rawResponse: _response.rawResponse };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 403:
          throw new LfsplanetApi.ForbiddenError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "DELETE",
      "/api/v1/me/webhooks/{webhook}",
    );
  }

  /**
   * @param {LfsplanetApi.UpdateWebhookRequest} request
   * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.UnauthorizedError}
   * @throws {@link LfsplanetApi.ForbiddenError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.webhooks.updateWebhook({
   *         "X-CSRF-Token": "X-CSRF-Token",
   *         webhook: 1000000,
   *         enabled: true
   *     })
   */
  public updateWebhook(
    request: LfsplanetApi.UpdateWebhookRequest,
    requestOptions?: WebhooksClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.WebhookResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__updateWebhook(request, requestOptions),
    );
  }

  private async __updateWebhook(
    request: LfsplanetApi.UpdateWebhookRequest,
    requestOptions?: WebhooksClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.WebhookResponse>> {
    const { webhook, "X-CSRF-Token": csrfToken, ..._body } = request;
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({ "X-CSRF-Token": csrfToken }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/me/webhooks/${core.url.encodePathParam(webhook)}`,
      ),
      method: "PATCH",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      requestType: "json",
      body: _body,
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.WebhookResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 403:
          throw new LfsplanetApi.ForbiddenError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "PATCH",
      "/api/v1/me/webhooks/{webhook}",
    );
  }
}
