// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptions,
  type NormalizedClientOptions,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace ReplaysClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class ReplaysClient {
  protected readonly _options: NormalizedClientOptions<ReplaysClient.Options>;

  constructor(options: ReplaysClient.Options) {
    this._options = normalizeClientOptions(options);
  }

  /**
   * `id` is the **hotlap** identity, not the object-store key: replays are
   * stored under private, unique object keys.
   *
   * @throws {@link LfsplanetApi.NotFoundError}
   */
  public download(
    request: LfsplanetApi.DownloadRequest,
    requestOptions?: ReplaysClient.RequestOptions,
  ): core.HttpResponsePromise<core.BinaryResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__download(request, requestOptions),
    );
  }

  private async __download(
    request: LfsplanetApi.DownloadRequest,
    requestOptions?: ReplaysClient.RequestOptions,
  ): Promise<core.WithRawResponse<core.BinaryResponse>> {
    const { hotlap } = request;
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher<core.BinaryResponse>({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/hotlaps/${core.url.encodePathParam(hotlap)}/replay`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      responseType: "binary-response",
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return { data: _response.body, rawResponse: _response.rawResponse };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/hotlaps/{hotlap}/replay",
    );
  }
}
