// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptionsWithAuth,
  type NormalizedClientOptionsWithAuth,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace AuthenticationClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class AuthenticationClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<AuthenticationClient.Options>;

  constructor(options: AuthenticationClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * @param {AuthenticationClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @example
   *     await client.authentication.get()
   */
  public get(
    requestOptions?: AuthenticationClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.MeResponse> {
    return core.HttpResponsePromise.fromPromise(this.__get(requestOptions));
  }

  private async __get(
    requestOptions?: AuthenticationClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.MeResponse>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/me",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.MeResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      throw new errors.LfsplanetApiError({
        statusCode: _response.error.statusCode,
        body: _response.error.body,
        rawResponse: _response.rawResponse,
      });
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/me",
    );
  }

  /**
   * @param {LfsplanetApi.UpdateMeRequest} request
   * @param {AuthenticationClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.UnauthorizedError}
   * @throws {@link LfsplanetApi.ForbiddenError}
   *
   * @example
   *     await client.authentication.update({
   *         "X-CSRF-Token": "X-CSRF-Token"
   *     })
   */
  public update(
    request: LfsplanetApi.UpdateMeRequest,
    requestOptions?: AuthenticationClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.PlayerSummary> {
    return core.HttpResponsePromise.fromPromise(
      this.__update(request, requestOptions),
    );
  }

  private async __update(
    request: LfsplanetApi.UpdateMeRequest,
    requestOptions?: AuthenticationClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.PlayerSummary>> {
    const { "X-CSRF-Token": csrfToken, ..._body } = request;
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({ "X-CSRF-Token": csrfToken }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/me",
      ),
      method: "PATCH",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      requestType: "json",
      body: _body,
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.PlayerSummary,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 403:
          throw new LfsplanetApi.ForbiddenError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "PATCH",
      "/api/v1/me",
    );
  }

  /**
   * @param {LfsplanetApi.LogoutRequest} request
   * @param {AuthenticationClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.ForbiddenError}
   * @throws {@link LfsplanetApi.InternalServerError}
   *
   * @example
   *     await client.authentication.logout({
   *         "X-CSRF-Token": "X-CSRF-Token"
   *     })
   */
  public logout(
    request: LfsplanetApi.LogoutRequest,
    requestOptions?: AuthenticationClient.RequestOptions,
  ): core.HttpResponsePromise<void> {
    return core.HttpResponsePromise.fromPromise(
      this.__logout(request, requestOptions),
    );
  }

  private async __logout(
    request: LfsplanetApi.LogoutRequest,
    requestOptions?: AuthenticationClient.RequestOptions,
  ): Promise<core.WithRawResponse<void>> {
    const { "X-CSRF-Token": csrfToken } = request;
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({ "X-CSRF-Token": csrfToken }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "auth/logout",
      ),
      method: "POST",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return { data: undefined, rawResponse: _response.rawResponse };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 403:
          throw new LfsplanetApi.ForbiddenError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 500:
          throw new LfsplanetApi.InternalServerError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/auth/logout",
    );
  }
}
