// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptions,
  type NormalizedClientOptions,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace ErasClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class ErasClient {
  protected readonly _options: NormalizedClientOptions<ErasClient.Options>;

  constructor(options: ErasClient.Options) {
    this._options = normalizeClientOptions(options);
  }

  /**
   * @param {ErasClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @example
   *     await client.eras.listEras()
   */
  public listEras(
    requestOptions?: ErasClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.ListResponseEraSummary> {
    return core.HttpResponsePromise.fromPromise(
      this.__listEras(requestOptions),
    );
  }

  private async __listEras(
    requestOptions?: ErasClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.ListResponseEraSummary>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/eras",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.ListResponseEraSummary,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      throw new errors.LfsplanetApiError({
        statusCode: _response.error.statusCode,
        body: _response.error.body,
        rawResponse: _response.rawResponse,
      });
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras",
    );
  }

  /**
   * @param {LfsplanetApi.GetEraRequest} request
   * @param {ErasClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.eras.getEra({
   *         era: "era"
   *     })
   */
  public getEra(
    request: LfsplanetApi.GetEraRequest,
    requestOptions?: ErasClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.EraSummary> {
    return core.HttpResponsePromise.fromPromise(
      this.__getEra(request, requestOptions),
    );
  }

  private async __getEra(
    request: LfsplanetApi.GetEraRequest,
    requestOptions?: ErasClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.EraSummary>> {
    const { era } = request;
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(era)}`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.EraSummary,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras/{era}",
    );
  }

  /**
   * @param {LfsplanetApi.ListEraCombinationsRequest} request
   * @param {ErasClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.eras.listEraCombinations({
   *         era: "era"
   *     })
   */
  public listEraCombinations(
    request: LfsplanetApi.ListEraCombinationsRequest,
    requestOptions?: ErasClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.PaginatedResponseChart> {
    return core.HttpResponsePromise.fromPromise(
      this.__listEraCombinations(request, requestOptions),
    );
  }

  private async __listEraCombinations(
    request: LfsplanetApi.ListEraCombinationsRequest,
    requestOptions?: ErasClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.PaginatedResponseChart>> {
    const { era, track, vehicle, page, per_page: perPage } = request;
    const _queryParams: Record<string, unknown> = {
      track,
      vehicle,
      page,
      per_page: perPage,
    };
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(era)}/combinations`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.PaginatedResponseChart,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras/{era}/combinations",
    );
  }

  /**
   * @param {LfsplanetApi.ValidateEraCombinationRequest} request
   * @param {ErasClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.eras.validateEraCombination({
   *         era: "era",
   *         track: "track",
   *         vehicle: "vehicle"
   *     })
   */
  public validateEraCombination(
    request: LfsplanetApi.ValidateEraCombinationRequest,
    requestOptions?: ErasClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.CombinationCheck> {
    return core.HttpResponsePromise.fromPromise(
      this.__validateEraCombination(request, requestOptions),
    );
  }

  private async __validateEraCombination(
    request: LfsplanetApi.ValidateEraCombinationRequest,
    requestOptions?: ErasClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.CombinationCheck>> {
    const { era, track, vehicle } = request;
    const _queryParams: Record<string, unknown> = {
      track,
      vehicle,
    };
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(era)}/combinations/validate`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.CombinationCheck,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras/{era}/combinations/validate",
    );
  }
}
