// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptionsWithAuth,
  type NormalizedClientOptionsWithAuth,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace PersonalAccessTokensClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class PersonalAccessTokensClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<PersonalAccessTokensClient.Options>;

  constructor(options: PersonalAccessTokensClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * @param {PersonalAccessTokensClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.UnauthorizedError}
   *
   * @example
   *     await client.personalAccessTokens.listPersonalAccessTokens()
   */
  public listPersonalAccessTokens(
    requestOptions?: PersonalAccessTokensClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.ListResponsePersonalAccessTokenResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__listPersonalAccessTokens(requestOptions),
    );
  }

  private async __listPersonalAccessTokens(
    requestOptions?: PersonalAccessTokensClient.RequestOptions,
  ): Promise<
    core.WithRawResponse<LfsplanetApi.ListResponsePersonalAccessTokenResponse>
  > {
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/me/personal-access-tokens",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.ListResponsePersonalAccessTokenResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/me/personal-access-tokens",
    );
  }

  /**
   * @param {LfsplanetApi.CreatePersonalAccessTokenRequest} request
   * @param {PersonalAccessTokensClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.UnauthorizedError}
   * @throws {@link LfsplanetApi.ForbiddenError}
   *
   * @example
   *     await client.personalAccessTokens.create({
   *         "X-CSRF-Token": "X-CSRF-Token",
   *         name: "name"
   *     })
   */
  public create(
    request: LfsplanetApi.CreatePersonalAccessTokenRequest,
    requestOptions?: PersonalAccessTokensClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.CreatedPersonalAccessTokenResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__create(request, requestOptions),
    );
  }

  private async __create(
    request: LfsplanetApi.CreatePersonalAccessTokenRequest,
    requestOptions?: PersonalAccessTokensClient.RequestOptions,
  ): Promise<
    core.WithRawResponse<LfsplanetApi.CreatedPersonalAccessTokenResponse>
  > {
    const { "X-CSRF-Token": csrfToken, ..._body } = request;
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({ "X-CSRF-Token": csrfToken }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/me/personal-access-tokens",
      ),
      method: "POST",
      headers: _headers,
      contentType: "application/json",
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      requestType: "json",
      body: _body,
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.CreatedPersonalAccessTokenResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 403:
          throw new LfsplanetApi.ForbiddenError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/api/v1/me/personal-access-tokens",
    );
  }

  /**
   * @param {LfsplanetApi.RevokeRequest} request
   * @param {PersonalAccessTokensClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.UnauthorizedError}
   * @throws {@link LfsplanetApi.ForbiddenError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.personalAccessTokens.revoke({
   *         "X-CSRF-Token": "X-CSRF-Token",
   *         token: 1000000
   *     })
   */
  public revoke(
    request: LfsplanetApi.RevokeRequest,
    requestOptions?: PersonalAccessTokensClient.RequestOptions,
  ): core.HttpResponsePromise<void> {
    return core.HttpResponsePromise.fromPromise(
      this.__revoke(request, requestOptions),
    );
  }

  private async __revoke(
    request: LfsplanetApi.RevokeRequest,
    requestOptions?: PersonalAccessTokensClient.RequestOptions,
  ): Promise<core.WithRawResponse<void>> {
    const { token, "X-CSRF-Token": csrfToken } = request;
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({ "X-CSRF-Token": csrfToken }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/me/personal-access-tokens/${core.url.encodePathParam(token)}`,
      ),
      method: "DELETE",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return { data: undefined, rawResponse: _response.rawResponse };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 403:
          throw new LfsplanetApi.ForbiddenError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "DELETE",
      "/api/v1/me/personal-access-tokens/{token}",
    );
  }
}
