// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptions,
  type NormalizedClientOptions,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace VehiclesClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class VehiclesClient {
  protected readonly _options: NormalizedClientOptions<VehiclesClient.Options>;

  constructor(options: VehiclesClient.Options) {
    this._options = normalizeClientOptions(options);
  }

  /**
   * @param {LfsplanetApi.ListEraVehiclesRequest} request
   * @param {VehiclesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.vehicles.listEraVehicles({
   *         era: "era"
   *     })
   */
  public listEraVehicles(
    request: LfsplanetApi.ListEraVehiclesRequest,
    requestOptions?: VehiclesClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.ListResponseVehicleSummary> {
    return core.HttpResponsePromise.fromPromise(
      this.__listEraVehicles(request, requestOptions),
    );
  }

  private async __listEraVehicles(
    request: LfsplanetApi.ListEraVehiclesRequest,
    requestOptions?: VehiclesClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.ListResponseVehicleSummary>> {
    const { era, track, q, limit } = request;
    const _queryParams: Record<string, unknown> = {
      track,
      q,
      limit,
    };
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(era)}/vehicles`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.ListResponseVehicleSummary,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras/{era}/vehicles",
    );
  }

  /**
   * @param {LfsplanetApi.ImageRequest} request
   * @param {VehiclesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.vehicles.image({
   *         vehicle: "vehicle"
   *     })
   */
  public image(
    request: LfsplanetApi.ImageRequest,
    requestOptions?: VehiclesClient.RequestOptions,
  ): core.HttpResponsePromise<void> {
    return core.HttpResponsePromise.fromPromise(
      this.__image(request, requestOptions),
    );
  }

  private async __image(
    request: LfsplanetApi.ImageRequest,
    requestOptions?: VehiclesClient.RequestOptions,
  ): Promise<core.WithRawResponse<void>> {
    const { vehicle } = request;
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/vehicles/${core.url.encodePathParam(vehicle)}/image`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return { data: undefined, rawResponse: _response.rawResponse };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/vehicles/{vehicle}/image",
    );
  }
}
