// This file was auto-generated by Fern from our API Definition.

import * as fs from "fs";
import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptionsWithAuth,
  type NormalizedClientOptionsWithAuth,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace HotlapsClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class HotlapsClient {
  protected readonly _options: NormalizedClientOptionsWithAuth<HotlapsClient.Options>;

  constructor(options: HotlapsClient.Options) {
    this._options = normalizeClientOptionsWithAuth(options);
  }

  /**
   * @param {LfsplanetApi.UploadHotlapRequest} request
   * @param {HotlapsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.UnauthorizedError}
   * @throws {@link LfsplanetApi.ForbiddenError}
   * @throws {@link LfsplanetApi.NotFoundError}
   * @throws {@link LfsplanetApi.ConflictError}
   * @throws {@link LfsplanetApi.ContentTooLargeError}
   * @throws {@link LfsplanetApi.UnprocessableEntityError}
   * @throws {@link LfsplanetApi.TooManyRequestsError}
   *
   * @example
   *     import { createReadStream } from "fs";
   *     await client.hotlaps.uploadHotlap({
   *         spr: fs.createReadStream("/path/to/your/file"),
   *         "X-CSRF-Token": "X-CSRF-Token",
   *         era: "era"
   *     })
   */
  public uploadHotlap(
    request: LfsplanetApi.UploadHotlapRequest,
    requestOptions?: HotlapsClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.Hotlap> {
    return core.HttpResponsePromise.fromPromise(
      this.__uploadHotlap(request, requestOptions),
    );
  }

  private async __uploadHotlap(
    request: LfsplanetApi.UploadHotlapRequest,
    requestOptions?: HotlapsClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.Hotlap>> {
    const _body = await core.newFormData();
    await _body.appendFile("spr", request.spr);
    const _maybeEncodedRequest = await _body.getRequest();
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        "X-CSRF-Token": request["X-CSRF-Token"],
        ..._maybeEncodedRequest.headers,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(request.era)}/hotlaps`,
      ),
      method: "POST",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      requestType: "file",
      duplex: _maybeEncodedRequest.duplex,
      body: _maybeEncodedRequest.body,
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.Hotlap,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 403:
          throw new LfsplanetApi.ForbiddenError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 409:
          throw new LfsplanetApi.ConflictError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 413:
          throw new LfsplanetApi.ContentTooLargeError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 422:
          throw new LfsplanetApi.UnprocessableEntityError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 429:
          throw new LfsplanetApi.TooManyRequestsError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/api/v1/eras/{era}/hotlaps",
    );
  }

  /**
   * @param {LfsplanetApi.ListHotlapsRequest} request
   * @param {HotlapsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.UnauthorizedError}
   *
   * @example
   *     await client.hotlaps.listHotlaps()
   */
  public listHotlaps(
    request: LfsplanetApi.ListHotlapsRequest = {},
    requestOptions?: HotlapsClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.PaginatedResponseHotlap> {
    return core.HttpResponsePromise.fromPromise(
      this.__listHotlaps(request, requestOptions),
    );
  }

  private async __listHotlaps(
    request: LfsplanetApi.ListHotlapsRequest = {},
    requestOptions?: HotlapsClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.PaginatedResponseHotlap>> {
    const {
      state,
      era_id: eraId,
      lfs_username: lfsUsername,
      track,
      vehicle,
      ranked_only: rankedOnly,
      rank,
      country,
      controller,
      mine,
      column,
      order,
      page,
      per_page: perPage,
    } = request;
    const _queryParams: Record<string, unknown> = {
      state: state != null ? state : undefined,
      era_id: eraId,
      lfs_username: lfsUsername,
      track,
      vehicle,
      ranked_only: rankedOnly,
      rank,
      country,
      controller,
      mine,
      column: column != null ? column : undefined,
      order: order != null ? order : undefined,
      page,
      per_page: perPage,
    };
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/hotlaps",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.PaginatedResponseHotlap,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/hotlaps",
    );
  }

  /**
   * @param {LfsplanetApi.GetHotlapRequest} request
   * @param {HotlapsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.UnauthorizedError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.hotlaps.getHotlap({
   *         hotlap: 1000000
   *     })
   */
  public getHotlap(
    request: LfsplanetApi.GetHotlapRequest,
    requestOptions?: HotlapsClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.Hotlap> {
    return core.HttpResponsePromise.fromPromise(
      this.__getHotlap(request, requestOptions),
    );
  }

  private async __getHotlap(
    request: LfsplanetApi.GetHotlapRequest,
    requestOptions?: HotlapsClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.Hotlap>> {
    const { hotlap } = request;
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/hotlaps/${core.url.encodePathParam(hotlap)}`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.Hotlap,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/hotlaps/{hotlap}",
    );
  }

  /**
   * @param {LfsplanetApi.RemoveRequest} request
   * @param {HotlapsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.UnauthorizedError}
   * @throws {@link LfsplanetApi.ForbiddenError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.hotlaps.remove({
   *         "X-CSRF-Token": "X-CSRF-Token",
   *         hotlap: 1000000
   *     })
   */
  public remove(
    request: LfsplanetApi.RemoveRequest,
    requestOptions?: HotlapsClient.RequestOptions,
  ): core.HttpResponsePromise<void> {
    return core.HttpResponsePromise.fromPromise(
      this.__remove(request, requestOptions),
    );
  }

  private async __remove(
    request: LfsplanetApi.RemoveRequest,
    requestOptions?: HotlapsClient.RequestOptions,
  ): Promise<core.WithRawResponse<void>> {
    const { hotlap, "X-CSRF-Token": csrfToken } = request;
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({ "X-CSRF-Token": csrfToken }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/hotlaps/${core.url.encodePathParam(hotlap)}`,
      ),
      method: "DELETE",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return { data: undefined, rawResponse: _response.rawResponse };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 403:
          throw new LfsplanetApi.ForbiddenError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "DELETE",
      "/api/v1/hotlaps/{hotlap}",
    );
  }

  /**
   * @param {LfsplanetApi.ValidateForTestingRequest} request
   * @param {HotlapsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.UnauthorizedError}
   * @throws {@link LfsplanetApi.ForbiddenError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.hotlaps.validateForTesting({
   *         "X-CSRF-Token": "X-CSRF-Token",
   *         hotlap: 1000000
   *     })
   */
  public validateForTesting(
    request: LfsplanetApi.ValidateForTestingRequest,
    requestOptions?: HotlapsClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.Hotlap> {
    return core.HttpResponsePromise.fromPromise(
      this.__validateForTesting(request, requestOptions),
    );
  }

  private async __validateForTesting(
    request: LfsplanetApi.ValidateForTestingRequest,
    requestOptions?: HotlapsClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.Hotlap>> {
    const { hotlap, "X-CSRF-Token": csrfToken } = request;
    const _authRequest: core.AuthRequest =
      await this._options.authProvider.getAuthRequest();
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      _authRequest.headers,
      this._options?.headers,
      mergeOnlyDefinedHeaders({ "X-CSRF-Token": csrfToken }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/hotlaps/${core.url.encodePathParam(hotlap)}/validate`,
      ),
      method: "POST",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.Hotlap,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 401:
          throw new LfsplanetApi.UnauthorizedError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 403:
          throw new LfsplanetApi.ForbiddenError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "POST",
      "/api/v1/hotlaps/{hotlap}/validate",
    );
  }
}
