// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptions,
  type NormalizedClientOptions,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace CountriesClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class CountriesClient {
  protected readonly _options: NormalizedClientOptions<CountriesClient.Options>;

  constructor(options: CountriesClient.Options) {
    this._options = normalizeClientOptions(options);
  }

  /**
   * @param {LfsplanetApi.ListCountriesRequest} request
   * @param {CountriesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @example
   *     await client.countries.listCountries()
   */
  public listCountries(
    request: LfsplanetApi.ListCountriesRequest = {},
    requestOptions?: CountriesClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.ListResponseCodeNameSummary> {
    return core.HttpResponsePromise.fromPromise(
      this.__listCountries(request, requestOptions),
    );
  }

  private async __listCountries(
    request: LfsplanetApi.ListCountriesRequest = {},
    requestOptions?: CountriesClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.ListResponseCodeNameSummary>> {
    const { q } = request;
    const _queryParams: Record<string, unknown> = {
      q,
    };
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/countries",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.ListResponseCodeNameSummary,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      throw new errors.LfsplanetApiError({
        statusCode: _response.error.statusCode,
        body: _response.error.body,
        rawResponse: _response.rawResponse,
      });
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/countries",
    );
  }

  /**
   * @param {LfsplanetApi.ListCountryFlagsRequest} request
   * @param {CountriesClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   *
   * @example
   *     await client.countries.listCountryFlags({
   *         code: "code"
   *     })
   */
  public listCountryFlags(
    request: LfsplanetApi.ListCountryFlagsRequest,
    requestOptions?: CountriesClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.ListResponseCodeNameSummary> {
    return core.HttpResponsePromise.fromPromise(
      this.__listCountryFlags(request, requestOptions),
    );
  }

  private async __listCountryFlags(
    request: LfsplanetApi.ListCountryFlagsRequest,
    requestOptions?: CountriesClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.ListResponseCodeNameSummary>> {
    const { code } = request;
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/countries/${core.url.encodePathParam(code)}/flags`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.ListResponseCodeNameSummary,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/countries/{code}/flags",
    );
  }
}
