// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptions,
  type NormalizedClientOptions,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace ChartsClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class ChartsClient {
  protected readonly _options: NormalizedClientOptions<ChartsClient.Options>;

  constructor(options: ChartsClient.Options) {
    this._options = normalizeClientOptions(options);
  }

  /**
   * @param {LfsplanetApi.BestRequest} request
   * @param {ChartsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.BadRequestError}
   * @throws {@link LfsplanetApi.NotFoundError}
   *
   * @example
   *     await client.charts.best({
   *         era: "era",
   *         track: "track",
   *         vehicle: "vehicle"
   *     })
   */
  public best(
    request: LfsplanetApi.BestRequest,
    requestOptions?: ChartsClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.HotlapChartResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__best(request, requestOptions),
    );
  }

  private async __best(
    request: LfsplanetApi.BestRequest,
    requestOptions?: ChartsClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.HotlapChartResponse>> {
    const {
      era,
      track,
      vehicle,
      column,
      order,
      country,
      controller,
      page,
      per_page: perPage,
    } = request;
    const _queryParams: Record<string, unknown> = {
      column: column != null ? column : undefined,
      order: order != null ? order : undefined,
      country,
      controller,
      page,
      per_page: perPage,
    };
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `api/v1/eras/${core.url.encodePathParam(era)}/charts/${core.url.encodePathParam(track)}/${core.url.encodePathParam(vehicle)}`,
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .addMany(_queryParams)
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.HotlapChartResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LfsplanetApi.BadRequestError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        case 404:
          throw new LfsplanetApi.NotFoundError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/eras/{era}/charts/{track}/{vehicle}",
    );
  }
}
