// This file was auto-generated by Fern from our API Definition.

import type {
  BaseClientOptions,
  BaseRequestOptions,
} from "../../../../BaseClient.js";
import {
  normalizeClientOptions,
  type NormalizedClientOptions,
} from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LfsplanetApi from "../../../index.js";

export declare namespace StatsClient {
  export type Options = BaseClientOptions;

  export interface RequestOptions extends BaseRequestOptions {}
}

export class StatsClient {
  protected readonly _options: NormalizedClientOptions<StatsClient.Options>;

  constructor(options: StatsClient.Options) {
    this._options = normalizeClientOptions(options);
  }

  /**
   * @param {StatsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LfsplanetApi.InternalServerError}
   *
   * @example
   *     await client.stats.getStats()
   */
  public getStats(
    requestOptions?: StatsClient.RequestOptions,
  ): core.HttpResponsePromise<LfsplanetApi.StatsResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__getStats(requestOptions),
    );
  }

  private async __getStats(
    requestOptions?: StatsClient.RequestOptions,
  ): Promise<core.WithRawResponse<LfsplanetApi.StatsResponse>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "api/v1/stats",
      ),
      method: "GET",
      headers: _headers,
      queryString: core.url
        .queryBuilder()
        .mergeAdditional(requestOptions?.queryParams)
        .build(),
      timeoutMs:
        (requestOptions?.timeoutInSeconds ??
          this._options?.timeoutInSeconds ??
          60) * 1000,
      maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
      fetchFn: this._options?.fetch,
      logging: this._options.logging,
    });
    if (_response.ok) {
      return {
        data: _response.body as LfsplanetApi.StatsResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 500:
          throw new LfsplanetApi.InternalServerError(
            _response.error.body as LfsplanetApi.ErrorResponse,
            _response.rawResponse,
          );
        default:
          throw new errors.LfsplanetApiError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    return handleNonStatusCodeError(
      _response.error,
      _response.rawResponse,
      "GET",
      "/api/v1/stats",
    );
  }
}
